html {

  min-height: 100%;

}

body {

  min-height: 100%;
  color: rgba(255, 255, 255, 1.0);
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: "Georgia";
  background: linear-gradient(150deg, #f9f9f9, #d4dad6, #afbbb6, #8b9d9b, #698083, #49636f, #2c475c, #142b4e); /* made at https://learnui.design/tools/gradient-generator.html */;
  
}

a {
  color: rgba(255, 255, 255, 1.0);
  text-decoration: none;
}

.main-container {
  max-width: 640px;
  margin: auto;

}

.image-row {
  
  margin-bottom: 20px;
  text-align: center;

}

.name-row {

  margin-bottom: 15px;
  text-align: center;
  font-size: 20px;
  font-weight: 900;

}

.social-icons-row {

  margin-bottom: 30px;
  display: flex;
  justify-content: space-around;

}

.item {
  background-color: rgba(149, 123, 173, 0.5);
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  border-radius: 1000px;
  padding: 5px;
  padding-right: 53px;
  box-shadow: 4px 4px 10px 0px rgba(122,32,122,0.5);

}

.link-text {

  text-align: center;
  flex-grow: 1;

}

.avatar_image {
  width: 128px;
  height: 128px;
  object-fit: cover;
  border-radius: 128px;
  
}

.thumbnail {

  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50px;

}

.icons {

  width: 30px;
  height: 30px;
  object-fit: cover;

}
